body{
	margin: 0px;
	background-color: black;
}

.header{
	margin: 5px;
	height: 3vh;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}


/*menu*/

.logo>img{
	height: 20vh;
	opacity: 0.65
}

.styled-select {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url("../images/down_arrow_select.jpg") no-repeat right #ddd;
	border: 1px solid #ccc;
}

.styled-select select {
	background: transparent;
	width: 268px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
 }

.page{
	height: 90vh;
	width: 90vw;
	position: relative;
	z-index: 1;
	margin: auto;
}



.main{
	height:100%;
	width: 100%;
}

#main-iframe{
	height:100%;
	width: 100%;
	border: none;
}

@media (max-width: 400px) {
	.header{
		justify-content: center;
		flex-wrap: wrap;
	}

}



